@font-face {
  font-family: 'GenJyuuGothic-Bold';
  src: url("../font/GenJyuuGothic-Bold.ttf");
}
@font-face {
  font-family: 'GenJyuuGothic-Light';
  src: url("../font/GenJyuuGothic-Light.ttf");
}
@font-face {
  font-family: 'LemonMilkbold';
  src: url(../font/LemonMilkbold.otf);
}
@font-face {
  font-family: 'NotoSansCJKtc-Bold_2';
  src: url(../font/NotoSansCJKtc-Bold_2.otf);
}
@font-face {
  font-family: 'NotoSansCJKtc-Light_0';
  src: url(../font/NotoSansCJKtc-Light_0.otf);
}
@font-face {
  font-family: 'NotoSerifCJKtc-Bold';
  src: url(../font/NotoSerifCJKtc-Bold.otf);
}
@font-face {
  font-family: 'NotoSerifCJKtc-Regular';
  src: url(../font/NotoSerifCJKtc-Regular.otf);
}