@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
ul,ol {
    list-style: none;
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
}
p,h1,h3 {
    margin: 0;
}
body, html {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    overflow: visible;
    font-size: 62.5%;
    /*scroll-behavior: smooth;*/
}
section {
    padding: 50px 0px;
}
svg {
    width: 100%;
    height: 100%;
}
.lightbox {
    background: rgba(0,0,0,.8);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 999;
}
.lightbox_show {
    top: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    height: 100%;
}
.lightbox_show img {
    margin: auto;
    max-width: calc(100% - 200px);
    max-height: calc(100% - 200px);
}
.lightbox img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s ease-in-out;
}
.lightbox__close-svg > svg{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 10%;
    right: 10%;
}
.lightbox__close-svg:hover{
    opacity: .6;
}
.lightbox__close-svg:active{
    opacity: 1;
}

.lightbox__close-svg >svg > path{
    stroke: rgba(230, 230, 230, 1);
    stroke-width: 3;
    stroke-linejoin: round;
}
.cls-1{font-size:83.12px;letter-spacing:0.34em;}
.cls-1,.cls-2,.cls-6{fill:#ff392a;}
.cls-1,.cls-2{font-family:LemonMilkbold, Lemon/Milk;font-weight:700;}
.cls-2{font-size:40.68px;letter-spacing:0.32em;}.cls-3{letter-spacing:0.27em;}
.cls-4{letter-spacing:0.22em;}
.cls-5{letter-spacing:0.25em;}
.font_orang{
    font-family: 'NotoSansCJKtc-Bold_2';
    color: #FF392A;
    font-weight: 600;
}
.font_wblue{
    font-family: 'NotoSansCJKtc-Bold_2';
    color: #3596b7;
    font-weight: 600;
}
.icon {
    display: inline-block;
}
.kgbc-logo{
    display: inline-block;
    width: 140px;
    height: 120px;
    fill: #ff392a;
}
.gbc-container {
    height: 100%;
    width: 100%;
    /*background-color: #fff;*/
}
.navbar {
    z-index: 99;
    position: fixed;
    width: 100vw;
    transition: .5s;
    background-color: rgba(255, 255, 255, 1);

}
.icon_radius-5252{
    border-radius: 50%;
    width: 52px;
    height: 52px;
    margin: 0 10px;
}
.icon_radius-5252_yotu{
    fill: #ff392a;
    /*background-image: url(../img/icon-youtuber.svg);*/
}
.icon_radius-5252_fb{
    fill: #3596b7;
    /*background-image: url(../img/icon-fb.svg);*/
}
.icon_radius-5252_ig{
    fill: #333;
    /*background-image: url(../img/icon-ig.svg);*/
}
.icon_radius-5252:hover {
    transition: 0.7s all ease-in-out;
    transform: rotate(360deg);
    /*opacity: .7;*/
}
.navbar__between{
    padding:25px 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.navbar__select-section{
    padding-bottom: 10px;
}
.navbar_js-top {
    background: transparent;
}
.navbar_js-top  .icon_radius-5252{
    fill: rgba(200, 200, 200,1);
}
.navbar_js-top  .kgbc-logo{
    fill: rgba(200, 200, 200,1);
}
.navbar__logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    transition: .5s;
}
.navbar__list{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
}
.navbar__item {
    padding:0 4vw;
}
.navbar__item > a {
    /*font-family: 'GenJyuuGothic-Bold';*/
    /*font-family: 'Noto Sans SC';*/
    font-weight: 400;
    font-size: 2.5rem;
    transition: .5s;
    color: rgba(100, 100, 100, 1);
}
.navbar__item > a:hover{
    font-weight: 600;
    color: #FF392A;
}
.navbar_js-top .navbar__item a{
    color: rgba(255, 255, 255, 1);
}
.navbar_js-top .navbar__item a:hover{
    color: #FF392A;
}
.navbar_mobile{
    display: none;
}
.first-page {
    position: relative;
    /*padding:50px 0;*/
    width: 100%;
    /*height: 100vh;*/
    overflow: hidden;

    background-attachment: fixed;
    background-size:cover;
    /*background-position:0px 150px;*/
    background-repeat: no-repeat;
    background-image: url(../img/WEB-06.png);
}
.first-page__content {
    color: rgba(200, 200, 200, 1);
    padding-top: 20vh;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
.first-page__content h1 {
    font-size: 6rem;
}
.first-page__content h4 {
    font-size: 2rem;
    font-weight: normal;
}
.first-page__infor{
    padding-bottom: 100px;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    flex-flow: column wrap;
}
.page-logo{
    display: block;
/*    max-width: 520px;
    max-height: 270px;*/
    position: relative;
    /*border-top: solid  #FF392A 30px;
    border-bottom: solid  #FF392A 30px;*/
}
.page-logo__img,
.infor-church__img,
.infor-bible__img{
    display: block;
    width: 100%;
    max-height: 100%;
}
.page-logo__title{
    color: #FF392A;
    font-size: 6.3rem;
    letter-spacing: 2rem;
    font-family: 'LemonMilkbold';
}

.page-logo__text{
    color: #FF392A;
    font-size: 3rem;
    letter-spacing: 1rem;
    font-family: 'LemonMilkbold';
}
.infor-church{
    /*margin-top: 50px;*/
    /*padding-left: 3vw;*/
    /*    max-width: 520px;
    max-height: 220px;*/
}

.infor-church__name{
    /*font-family: 'NotoSerifCJKtc-Regular';*/
    font-family: "Microsoft JhengHei";
    letter-spacing: .5rem;
    font-size: 6rem;
    font-weight: 300;
    padding: 20px 0;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
}
.infor-church__branch{
    /*font-family: 'NotoSerifCJKtc-Bold';*/
    font-weight: 700;
    font-size: 6rem;
    letter-spacing: 4.2rem;
    padding-bottom: 20px;
    transition: .5s;
    color: rgba(255, 255, 255, 1);
}

.infor-bible{
    /*font-family: 'GenJyuuGothic-Light';*/
    /*    max-width: 520px;
    max-height: 170px;*/
    margin-top: 20px;
    font-weight: 300;
    color: #FF392A;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1rem;
    line-height: 2;
}

.introductio__title{
    text-align: center;
    padding: 100px 0;
    color: #FF392A;
}
.introductio_ch{
    font-size: 6rem;
    font-family: 'GenJyuuGothic-Bold';
}
.introductio_en{
    font-family: 'LemonMilkbold';
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
/*.first-page__bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100%;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}*/
.block-door{
    width: 25vw;
    background-color: #FF392A;
    transition: 0.3s all ease-in-out;
}

.block-door_right{
    transform: translateX(90%);
}
.block-door_left{
    transform: translateX(-90%);
}
.block-door_close{
    transform: translateX(0%);
}
.introductio__content{
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: flex;
    overflow-x: hidden;
}
.introductio__dtail{
    /*font-family: 'NotoSansCJKtc-Light_0';*/
    font-weight: 300;
    flex: 2;
    padding:0 5vw;
    line-height: 2;
    font-size: 2rem;
    text-align: justify;
}
.about-layout__title{
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-layout__box{
    width: 100%;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.about-layout_story{
    background-position: left;
    background-image: url(../img/WEB-07.png);
}
.about-layout_ministry{
    background-position: right;
    background-image: url(../img/WEB-02.png);
}
.about-layout_prospect{
    background-image: url(../img/WEB-18.png);
}
.about-story_ch{
    font-family: 'GenJyuuGothic-Bold';
    font-size: 6rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 1rem;
}
.about-story_en{
    font-family: 'LemonMilkbold';
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    letter-spacing: 1rem;
}
.dash_100{
    width: 10vw;
    height: 2px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 1);
}
.about-story__from{
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.about-layout__content{
    padding: 50px 30vw;
}
.content__title{
    font-family: 'GenJyuuGothic-Bold';
    font-weight: 700;
    text-align: center;
    font-size: 4.1rem;
    padding-bottom:  50px;
}
.content__title_wblue{
    color: #3596b7;
    letter-spacing: 1rem
}
.content__title_orang{
    color: #FF392A;
    letter-spacing: .5rem;
}
.content__dtail{
    /*font-family: 'NotoSansCJKtc-Light_0';*/
    text-align: justify;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2;
}

.gallery{
    padding: 30px;
}

.gallery_grid-layout{
    display: -webkit-grid;
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    /*grid-template-columns: repeat(4,1fr);*/
    grid-gap: 10px;
    grid-template-areas:
     "a1 a2 a3 a4 a4"
     "b1 b2 c1 c1 d1"
     "b3 b4 c1 c1 d2";
    grid-auto-columns:minmax(100px,auto);
}
.block_ored{
    background-color:#FF392A;
    width: 100%;
    height: 100%;
}
.block_wblue{
    background-color:#3596B7;
    width: 100%;
    height: 100%;
}
.gallery_grid-layout__item{
    /*flex: 1;*/
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
    transform: translateX(-200%);
}
.gallery_grid-layout__item_fadein{
    transform: translateX(-0%);
}

.gallery_grid-layout__item:nth-child(1){
    grid-area: a1;
}
.gallery_grid-layout__item:nth-child(2){
    grid-area: a2;
}
.gallery_grid-layout__item:nth-child(3){
    grid-area: a3;
}
.gallery_grid-layout__item:nth-child(4){
    grid-area: a4;
}
.gallery_grid-layout__item:nth-child(5){
    grid-area: b1;
}
.gallery_grid-layout__item:nth-child(6){
    grid-area: b2;
}
.gallery_grid-layout__item:nth-child(7){
    grid-area: c1;
}
.gallery_grid-layout__item:nth-child(8){
    grid-area: d1;
}
.gallery_grid-layout__item:nth-child(9){
    grid-area: b3;
}
.gallery_grid-layout__item:nth-child(10){
    grid-area: b4;
}
.gallery_grid-layout__item:nth-child(11){
    grid-area: d2;
}
.ministry-grid{
     padding: 130px 20vw;
}
.ministry-grid__layout{
    display: -webkit-grid;
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-gap: 10px ;
    grid-auto-columns:minmax(100px,auto);
    grid-template-columns: repeat(3,1fr);
    /*grid-template-rows:minmax(100px, auto);*/
}
.ministry-grid__item{
    display: block;
    opacity: 0;
    transition: 0.7s all ease-in-out;
    margin: 10px;
}
.ministry-grid__item_fadein{
    opacity: 1;
}
.ministry-grid__content{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:row  wrap;
    border: solid #333 5px;
    position: relative;
}

.ministry-grid__layout_top{
    padding-bottom: 10px;
    grid-template-areas:
     "a1 a2 a2";
}
.ministry-grid__layout_top> .ministry-grid__item:nth-child(1){
    grid-area: a1;
}
.ministry-grid__layout_top> .ministry-grid__item:nth-child(2){
    grid-area: a2;
}
.ministry-grid__content_wbule{
    border: solid #3596B7 5px;
}
.ministry-grid__text{
    display: block;
    font-weight: 300;
    font-size: 2rem;
    overflow: hidden;
    padding: 0 10px;
}
.ministry-icon{
    display: inline-block;
    width: 100%;
    /*height: 200px;*/
    fill:  #333;
    text-align: center;
}
.ministry__title{
    color:  #333;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.8;
}
.ministry__title_worship{
    position: absolute;
    top:20%;
    left: 25%;
}
.ministry__title_art{
    position: absolute;
    bottom: 21%;
    left: 20%
}
.ministry__title_lecturer{
    line-height: 1.2;
    position: absolute;
    top:13%;
    right: 20%;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}
.ministry__title_lecturer+.ministry-icon{
    position: relative;
    top: 10%;

}
.prospect_title{
    padding:50px 0;
}
.church-information{
    width: 100%;
    /*height: 100%;*/
  /*  background-attachment: fixed;
    position: relative;
    z-index: -2;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: rgba(255,57,42,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.church-information__title{
    color: rgba(255, 255, 255, 1);
    padding: 150px 0 100px 2vw;
}
.church-information__ch{
    font-family: 'GenJyuuGothic-Bold';
    font-size: 6.5rem;
    letter-spacing: 1rem;
}
.church-information__en{
    font-family: 'LemonMilkbold';
    font-size: 2.5rem;
    letter-spacing: 0.8rem;
}
.church-information__content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.church-copyright{
    font-weight: 300;
    font-size: 2.5rem;
    padding-bottom: 15px;
}
.table{
    width: 100%;
}
.table-row{
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 1);
    display: flex;
}
.table-row__item{
    display: flex;
    align-items: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: .5rem;
    width: 100%;
    padding: 0 15px;
}
.table-row__item__border{
    justify-content: flex-end;
    border-right: solid rgba(255, 255, 255, 1) 5px;
}
.church-information__bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: calc(100% - 5.2vw);
    padding: 2.6vw;
    font-size: 2.5rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 1);
}
.church-information .kgbc-logo{
    fill: rgba(255, 255, 255, 1);
}
.mobile-navbar{
    display: block;
    position: fixed;
    height: 00%;
    width: 100%;
    z-index: 90;
    background-color: #fff;
    background: rgba(0,0,0,.9);
    transition: 0.7s all ease-in-out;
    visibility: hidden;
}
.mobile_active .mobile-navbar{
    visibility: visible;
    height: 100%;
}
.mobile_active .navbar_mobile > .more{
    display: none;
}
.navbar_mobile >.close{
    display: none;
}
.mobile_active .navbar_mobile >.close{
    display: block;
}
.mobile-navbar__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin:15px 0px;
    font-weight: 500;
    transition: 0.5s all ease-in-out;
    opacity: 0;
    visibility: hidden;

}
.mobile_active .mobile-navbar__item{
    opacity: 1;
    visibility: visible;
}
.mobile-navbar__item > a:not(.icon){
    font-size: 2rem;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    padding:20px;
}
@media (max-width: 1200px) {
    .block-door{
        transform: translateX(0%);
    }
    .ministry-grid__text {
        font-size: 1.4rem;
    }
}
@media (max-width: 768px) {
    .lightbox__close-svg > svg{
        width: 30px;
        height: 30px;
    }
    .kgbc-logo{
        width: 70px;
        height: 60px;
    }
    .navbar__select-section,.navbar__external{
        display: none;
    }
    .navbar_js-top .navbar_mobile{
        border: 1px solid rgba(200, 200, 200,1);
        color: rgba(200, 200, 200,1);
    }
    .navbar_mobile{
        display: block;
        border: 1px solid #ff392a;
        color: #ff392a;
        border-radius: 25px;
        padding: 10px 20px ;
        margin: 10px 0px;
    }
    .first-page__content{
        padding-top: 0;
    }
    .first-page__infor{
        padding:20vh 7vw;
    }
    .block-door{
        width: 0vw;
    }
    .dash_100{
        display: none;
    }
    .about-layout__content{
        padding:20px 5vw;
    }
    .gallery_grid-layout{
         grid-template-areas:
         "a1 a2"
         "a3 a3"
         "a4 a4"
         "b1 b2"
         "b3 b4"
         "c1 c1"
         "c1 c1"
         "d1 d2";
    }
    .gallery_grid-layout__item{
        max-height: 350px;
    }
    .lightbox_img>img{
        max-width: 100%;
    }
    .ministry-grid{
        padding:100px 5vw;
    }
    .ministry-grid__layout_top {
        padding-bottom: 10px;
        grid-template-areas:
        "a2 a2"
        "a1 a1";
    }
    .ministry-grid__content_wbule{
        height: auto;
    }
    .about-story__from{
        flex-flow: column wrap;
    }
    .ministry-grid__layout{
        grid-template-columns: repeat(1,1fr);
    }
    .ministry-grid__text {
        font-size: 1.2rem;
        padding:10px;
    }
    .table-row{
        flex-flow: row wrap;
    }
    .table-row__item__border{
        justify-content: flex-start;
        font-weight: 600;
        border: none;
    }
    .church-information__title{
        padding: 0 ;
    }
    .ministry-grid__content{
        height: 250px;
    }
}
